azure-ai-projects==1.0.0b12
# ping the azure-ai-agents GA version, not the 1.1.0b1
# bing grounding doesn't show up in the agent knowledge UI
azure-ai-agents==1.1.0b3
azure-identity==1.23.0
azure-ai-evaluation==1.9.0
# eval need semantic kernel for agent converter
semantic-kernel==1.34.0
# eval dependencies on promptflow-devkit on pillow < 11.1.0
# pillow==11.3.0
pillow==11.0.0
# promptflow-devkit==1.18.1
# gradio==5.31.0
gradio==5.35.0
ipykernel==6.29.5
ipywidgets==8.1.7
jupyter==1.1.1
matplotlib==3.10.3
# pillow==11.2.1
python-dotenv==1.1.0

# pydantic-settings==2.9.1
# pydantic==2.11.5
pydantic-settings==2.10.1
pydantic==2.11.7

# opentelemetry 
opentelemetry-sdk==1.31.1
azure-monitor-opentelemetry==1.6.10